<h1> School Class Form </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>

<%= form_for @school_class do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :room_number %>
    <%= f.text_field :room_number %>

    <%= f.submit %>
<% end %>